.logo{
  max-width: 100%;
  height: auto;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.welcome-msg {
  padding: 0 20px; 
  text-align: center;
  font-family:sans-serif;
  font-size: small;
}

.welcome-ui{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box; 
}

.welcome-ui h1 {
  padding: 0 20px;
  text-align: center;
  font-size: 2em;
  margin: 0.5em 0;
  max-width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.searchBar {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  width: 80%;
  max-width: 400px;
}

.searchButton{
  padding: 10px 20px;
  font-size: 1em;
}


.pictureBoxContainer{
  position: absolute;
  left:6.5%;
  top:100px;
  padding: 20px 25px;
  display: flex;
  flex-wrap: wrap;
}


.pictureBox{
  width: 170px; 
  height: 120px;
  padding: 5px;
}

.file-viewer-container {
  padding: 15px;
  max-width: 100%;
}

.file-viewer-container h2 {
  padding: 5px;
  padding-left: 10px;
  padding-right: 1050px;
}

.message{
  padding: 10px;
  margin-bottom: 10px;
  left: 520px;
  top: 350px;
  color: brown;
}

button {
  background-color: rgb(34, 30, 30); 
  border: none;
  color: rgb(112, 228, 58);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #45a049;
  color: black;
  transform: scale(1.05);
}

/* Media Queries */
@media (min-width: 768px) {
  .search-container {
      flex-direction: row;
      align-items: flex-end;
  }
  .searchBar {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .welcome-msg {
    padding: 7px;
    padding-left: 150px;
    padding-right: 150px;
  }
  button {
    font-size: 12px;
    padding: 10px 20px;
}

 .file-viewer-container h2 {
  font-size: 1.5em;
 }
}

@media (min-width: 992px) {
  .welcome-msg {
    padding: 7px;
    padding-left: 250px;
    padding-right: 250px;
  }
  button {
    font-size: 15px;
    padding: 12px 24px;
}
}

@media (min-width: 1200px) {
  .welcome-msg {
    padding: 7px;
    padding-left: 350px;
    padding-right: 350px;
  }
}